// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-dark: #000;
$color-light: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
