// COLORS
$color-primary: #3cb9d4;
$color-primary-light: #219ebc;
$color-primary-dark: #1f657f;

$color-secondary-ligth: #e07a5f;
$color-secondary-dark: #ca5738;

$color-tertiary-lighter: #55c57a;
$color-tertiary-light: #3aad60;
$color-tertiary-dark: #2a8f4c;

$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-dark: #000;
$color-light: #fff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
