// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-ligth: #ff7800;
$color-secondary-dark: #df6b06;
$color-tertiary-light: #219ebc;
$color-tertiary-dark: #0d87a5;

$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-dark: #000;
$color-light: #fff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
