.section-features {
  font-size: 1.5rem;

  &__box {
    background-color: $color-light;
    text-align: center;
    padding: 3rem;
    border-radius: 3px;
    transition: transform 0.2s;
    box-shadow: 0 1.5rem 3rem rgba($color-dark, 0.2);

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }

  &__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
