.navigation {
  &__checkbox {
    display: none;
  }

  &__label {
    position: fixed;
    width: 6.5rem;
    height: 6.5rem;
    background-color: $color-light;
    border-radius: 50%;
    top: 5rem;
    right: 5rem;
    z-index: 2000;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba($color-dark, 0.1);
    text-align: center;
  }

  &__background {
    position: fixed;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    top: 5.5rem;
    right: 5.5rem;
    z-index: 1000;

    // transform: scale(80);
    transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &__nav {
    height: 100vh;
    // width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &__list {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
  }

  &__item {
    display: block;
    margin: 1rem;
    text-align: center;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem 2rem;
      text-decoration: none;
      color: $color-light;
      font-size: 2.5rem;
      font-weight: 300;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-light 50%
      );
      background-size: 230%;
      transition: all 0.4s;
      border-radius: 4px;
      min-width: fit-content;
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-position: 100%;
      transform: translateX(1rem);
    }

    span {
      margin-right: 1.5rem;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(90);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 100;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.2rem;

    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      display: inline-block;
      background-color: $color-gray;
      transition: all 0.3s;
    }

    &::after,
    &::before {
      content: "";
      left: 0;
      position: absolute;
    }

    &::after {
      top: 0.8rem;
    }

    &::before {
      top: -0.8rem;
    }
  }

  &__checkbox:checked + &__label &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__label &__icon:after {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__label &__icon:before {
    top: 0;
    transform: rotate(-135deg);
  }
}
